<!-- Team Section -->
    <section id="funders">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Amazing Funders</h2>
                    <h3 class="section-subheading text-muted">Who made what we do possible.</h3>
                </div>
            </div>
            <div class="row">
                {% for funders in site.funders %}
                <div class="col-sm-4 center">
                    <div class="funders">
                        <center><img src="{{ funders.pic | prepend: "img/funders/" }}" width="200" height="200" hspace="20"/ class="img-responsive" alt="" >
                        <h4>{{ funders.name }}</h4>
                        <p class="text-muted">{{ funders.year }}</p>
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <br><br><p class="large text-muted">We’re deeply grateful for the support of the Chan Zuckerberg Initiative DAF, an advised fund of Silicon Valley Community Foundation (DRL-1229004), the California Governor’s Office of Planning and Research (contract OPR18115), and the Schusterman Foundation.</p>
                </div>
            </div>
        </div>
    </section>