<!-- Portfolio Grid Section -->
    <section id="papers" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Papers</h2>
                    <h3 class="section-subheading text-muted">Dig into what we've been working on.</h3>
                </div>
            </div>
            <div class="row">
            <br>
            <br>
            {% for paper in site.papers %}
            <h4> {{ paper.name }} </h4>
				{{ paper.authors }} ({{ paper.year }}).{{ paper.abstract }}

                    <a href="{{ paper.filename | prepend: "pdfs/" | relative_url }}">Download a copy.</a>
                     <br><img class="full" src="img/separateline.png"> 
            {% endfor %}
            </div>
        </div>
    </section>
