<!-- People Section -->
    <section id="people">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="section-heading">People</h2>
                    <h3 class="section-subheading text-muted">Meet the people in our lab.</h3>
                </div>
            </div>
            <div class="row">
                {% for member in site.members %}
                <div class="col-md-4">
                    <div class="service-heading">
                        <img src="{{ member.pic | prepend: "img/team/" }}" class="img-responsive img-square" " alt="Picture of {{ member.name }}"> 
                        <h4>{{ member.name }}</h4>
                          <a href="mailto:{{ member.email }}"style="color:rgb(99,39,26);">{{ member.email }}</a>
                          <br>{{member.intro}}</p>
                      
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>