<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Papers</h2>
                    <h3 class="section-subheading text-muted">Dig into what we've been working on.</h3>
                </div>
            </div>
            <div class="row">
            {% for Paper in site.Paper %}
				<li><a href="{{Paper.path}}">{{ Paper.authors}} ({{ Paper.year }}). {{ Paper.name }}</a></li>
            {% endfor %}
            </div>
        </div>
    </section>
