<!-- Projects Section -->
    <section id="projects">
    
      <meta name="viewport" content="width=device-width, initial-scale=1" />
        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Projects</h2>
                    <h3 class="section-subheading text-muted">Learn about our active projects.</h3>
                                 <br>
            <img src= "img/mission.png">
                </div>
            </div>
            <div class= "row">
			<div class="photo1"> <img class="full" src="img/project_graph1.png"></div>
			 	<div class="intro1"> 
					 <h2 class="section-subheading"> The Better Book Project: </h4>
                 	 We are developing a new approach to education R&D in which researchers, designers / developers, and practitioners work together to build and continuously improve online instructional materials. We leverage theories and findings from the learning sciences, translational research, affordances of online learning, and the methodologies of improvement science. (Funded by Chan Zuckerberg Initiative DAF of Silicon Valley Foundation.)
                  	 <br> <br> 
                  	 <p class="section-subheading text-muted">  <a href="pdfs/Online Learning as a Wind Tunnel for Improving Teaching.pdf">- Some early thoughts on the Better Book approach are found in Stigler & Givvin, Online learning as a wind tunnel for improving teaching. </a></p> 
            	 	  <p class="section-subheading text-muted"> <a href="pdfs/The “Better Book” Approach for Education R&D PREPRINT.pdf"> - An overview of the approach and our CourseKata web R&D platform: Stigler et al., The Better Book approach to education research and development. </a></p>
                  	 We are building a web platform to support our Better Book R&D approach (CourseKata.org). The CourseKata platform takes incremental improvements in content (stored as markdown files); transcodes them into HTML pages; and renders the content via LTI in multiple learning management systems (starting with Canvas). It also supports the R&D process, including randomized experiments at the individual student level within classes. 
                   
                  	 You can also know more about the project by <a href="https://www.scpr.org/news/2019/10/21/90506/vexed-by-college-statistics-courses-new-approaches/">listening to our podcast </a> or <a href="https://vimeo.com/366634024">watching our interview video </a>.
                   <br>         
                </div>
        	 </div>
			<br>
			
		   <div class="clear"></div>

		 
			<div class="intro2">
                 <h2 class="section-subheading"> CourseKata Statistics and Data Science for High School:  </h4>
				  In our newest project we are adapting our innovative statistics program for high schools. Our target audience, initially, are the “Students Previously Known as Non-STEM”: students currently taking no mathematics at all in the twelfth grade. We are aiming to build skills and understanding, while at the same time changing their self-perceptions of their own capacity for STEM-related majors and careers.( Funded by Chan Zuckerberg Initiative, and by the Schusterman Family Foundation.)

            </div>
    
       
              <div class="clear"></div>  
              
              <div class="intro1">
				 <h2 class="section-subheading"> CourseKata Statistics for College:  </h4>
				  Following a “learn by doing” strategy to developing the Better Book approach, our initial focus is on introductory college-level statistics. Our innovative statistics and data science textbook includes more than 1200 formative assessments and R coding exercises. The book and resulting data are designed to implement, test, and improve our practicing connections theory of transferable learning. (Funded by Chan Zuckerberg Initiative DAF of Silicon Valley Foundation.)
				<br><br>
				 We are scaling CourseKata Statistics into all levels of the California higher education system: community college (starting with Pierce College); California State University (starting with the Los Angeles campus); and the University of California (starting with UCLA). (Funded by California Learning Lab.)
                  <br> <br> <p class="section-subheading text-muted">  - Check out the current version of our book, Introduction to Statistics: A Modeling Approach, by Ji Son and Jim Stigler.</p>
                   <p class="section-subheading text-muted">  - Read about our practicing connections hypothesis. Fries, et al... </P> </h3>
        
             </div>  
			

           <div class="photo2"> <img class="full" src="img/separate.png"> </div>
        </div>
    </section>